@charset "utf-8";

/* 
 * Mark Pro Bold Web Font
 */

@font-face {
  font-family: "MarkProBold";
  src: url(../font/markprobold.ttf)
}

@font-face {
  font-family: "SecRobotoRegular";
  src: url(../font/SECRobotoLightRegular.ttf)
}

@font-face {
  font-family: "SecRobotoBold";
  src: url(../font/SECRobotoLightBold.ttf)
}

@font-face {
  font-family: "MakAvantGarde";
  src: url(../font/makavantgarde.ttf)
}

@font-face {
  font-family: "MakAvantGardeBold";
  src: url(../font/makavantgardebold.ttf)
}