@import './utils.scss';
@import './font.scss';
.topbar {
  width: 100%;
  // @include vw-convert-desktop(height, 80px);
  height: 80px;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  align-items: center;
  background-color: rgba(#000, 0.1);

  @include mobile {
    @include vw-convert-mobile(height, 120px);
    // height: 80px;
  }

  .logo img {
    height: auto;
    // @include vw-convert-desktop(width, 100px);
    @include vw-convert-desktop(margin-left, 50px);
    width: 100px;
    @include mobile {
      @include vw-convert-mobile(width, 120px);
      @include vw-convert-mobile(margin-left, 30px);
      // @include vw-convert-mobile(margin-top, 100px)
    }
  }

  .mo_menu {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: flex-end; 
    font-size: 14px;  
    .menu {
      width: 40px;
      height: 40px;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      
      svg {
        width: 60%;
        height: 60%;
      }
    }

    @include mobile {
      display: flex;
    }    
  }  

  .pc_menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;   
    // @include vw-convert-desktop(font-size, 14px);
    font-size: 14px;


    .gnb {
      position: absolute;
      right: 0;
      z-index: 999;
      // font-family: 'Montserrat', sans-serif;
      font-family: "SecRobotoBold";
      font-size: 15px;
      font-weight: 400;
      // color: #666;
      // color: #fff;
      line-height: 1.5;

      .menu {
        position: relative;
        border: 0px solid red;

        

        .inner {
          font-size: 15px;
          // color: #666;
          // color: #fff;
          line-height: 1.5;

          ul {
            float: left;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
              &:last-child {
                margin-right: 50px;
              }

              position: relative;
              z-index: 1;
              float: left;
              font-weight: 500;

              a {
                position: relative;
                padding: 0;
                text-decoration: none !important;

                span {
                  display: inline-block;
                  margin: 0 28px 0 0;
                  padding: 0 0 10px 0px;
                  // color: #000;
                  color: #fff;
                  font-size: 16px;
                }
              }

              .total {
                margin-top: -5px;
                position: relative;
                cursor: pointer;
                display: block;
                margin-right: 10px;
        
                .select_d {
                    width: 80px;
                    line-height: 35px;
                    height: 35px;
                    padding: 0px 13px;
                    position: relative;
                    font-size: 12px;
                    text-align: left;
                    color: #fff;
                    border: 1px solid #cccccc;
                    overflow: hidden;
        
                    i {
                      position: absolute;
                      width: 11px;
                      right: 10px;
                      top: 50%;
                      transform: translateY(-50%);
                    }
                }

                .select_d.name {
                  p {
                    margin: 0;
                    width: 90%;
                    white-space: nowrap;
                    overflow: hidden !important;
                    text-overflow: ellipsis;
                  }
                }
        
                .f-marko {
                  color: #fff;
                }

                .f-marko.black {
                  color: #000;
                }
        
                .select_op {
                  width: 100%;
                  margin-top: 0px;
                  display: none;
                  position: absolute;
                  z-index: 3;
                  background: #fff;
                  font-size: 11px;
                  top: 39px;
                  padding: 10px 0;
                  border: 1px solid #ccc;
                  margin: 0;
                  list-style: none;
                  color: #666;
                  line-height: 1.5;
                  overflow: hidden;


                  li {
                    line-height: 26px;
                    height: 26px;
                    border: 0px solid red;
                    padding-left: 13px;
                    text-align: left;
                    width: 100%;

                    &:hover {
                      background-color: #f5f5f5;
                    }
                  }
                }
                .select_op.open {
                  display: block;
                }
              }
            }
          }
        }
      }
    }

    @include mobile {
      display: none;
    }
  }
}

.mobile-menu {
  padding-top: 10vh;
  border-top: 1px solid #d9d9d9;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    // transform: translateY(-50%);
    li {
      margin: 20px 0px;
      text-align: center;
      .menu-text {
        font-size: 8vw;
      }
      a {
        text-decoration: none;
        color: #000;
        font-weight: 400;
      }
    }
  }

  .copyright {
    position: absolute;
    bottom: 20px;
    left: 15px;
    font-size: 12px;
  }

  .total {
    margin-top: 20px;
    position: relative;
    cursor: pointer;
    display: block;
    margin-right: 10px;
    position: absolute;
    top: 0;
    left: 10px;

    .select_d {
        width: 50vw;
        line-height: 35px;
        height: 35px;
        // padding: 0px 13px;
        position: relative;
        font-size: 12px;
        text-align: left;
        color: #000;
        border: 1px solid #cccccc;
        overflow: hidden;
        left: 50%;
        transform: translateX(-50%);

        i {
          position: absolute;
          width: 11px;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }

        .lang-cont {
          margin: 0;
          margin-left: 10px;
        }
    }

    .select_d.name {
      p {
        margin: 0;
        width: 90%;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
      }
    }

    .f-marko {
      color: #000;
    }

    .f-marko.black {
      color: #000;
    }

    .select_op {
      width: 50vw;
      margin-top: 0px;
      display: none;
      position: absolute;
      z-index: 3;
      background: #fff;
      font-size: 11px;
      top: 39px;
      padding: 0px 0;
      border: 1px solid #ccc;
      margin: 0;
      list-style: none;
      color: #666;
      line-height: 1.5;
      overflow: hidden;
      left: 50%;
      transform: translateX(-50%);


      li {
        line-height: 20px;
        height: 20px;
        border: 0px solid red;
        padding-left: 13px;
        text-align: left;
        width: 100%;

        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
    .select_op.open {
      display: block;
    }
  }

  .total.user {
    position: absolute;
    top: 0px;
    left: 10px;

    .select_d {
      width: 40vw;
    }

    .select_op {
      width: 40vw;
    }
  }


}

.topbar.white {
  background: #fff;

  .pc_menu {
    .menu {
      .inner {
        ul li {
          a {
            span {
              color: #000;
            }
          }

          .total {
            .f-marko {
              color: #000;
            }
          }
        }
      }
    }
  }
}


.footer {
  background: #fff;
  width: 100%;
  height: 150px;
  position: relative;
  // margin-top: 150px;
  .line {
    border-top: 1px solid #d6d6d6;
    width: 90%;
    margin: auto;
    margin-top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .contact {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;

    @include mobile {
      flex-direction: column;
      margin-bottom: 20px;
    }


    .contact-logo {

      @include mobile {
        margin-top: 50%;
      }
      img {
        @include vw-convert-desktop(width, 120px);
        height: auto;

        @include mobile {
          @include vw-convert-mobile(width, 150px);
        }
      }
  
      .copyright {
        font-size: 12px;
        // margin-top: 10px;
      }
    }

    .address {
      @include vw-convert-desktop(margin-left, 50px);
      @include mobile {
        margin-left: 0;
      }
      span {
        font-weight: 500;
        text-decoration: underline;        
      }
    }
  }

  .social-links {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    top: 30%;
    // transform: translateY(-50%);

    @include mobile {
      left: 0;
      top: 10%;
    }
    svg {
      fill: #000;
      height: 25px;
      width: auto;
      margin-left: 20px;

      @include mobile {
        @include vw-convert-mobile(height, 50px);
        margin-left: 0;
        @include vw-convert-mobile(margin-right, 20px);
      }
    }
  }
}